python -m pip install matplotlib
python -m pip install numpy
python -m pip install os-sys
python -m pip install scikit-image
python -m pip install torch
python -m pip install torchvision
python -m pip install wandb